.link {
  margin-top: 5px;
  font-weight: 500;
  color: white;
}

.link:hover {
    font-weight: 700;
    color: rgb(241, 221, 221);
  }


.linkselected {
    font-weight: 900;
    color: black(241, 221, 221);
}  